<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>メモアプリ</h1>
    <% @hash["memo"].each do |v| %>
      <form action="/memos/<%= v["id"] %>" method="POST">
        <input type="hidden" name="_method" value="PATCH">

        <% if v["id"].to_s == params["id"] %>
          <div class="title">
            <textarea name="title" rows="3" cols="100"><%= v["title"] %></textarea>
          </div>

          <div class="text">
            <textarea name="text" rows="10" cols="100"><%= v["text"] %></textarea>
          </div>

          <div class="save">
            <button type="submit">変更</button>
          </div>
        <% end %>
      </form>
    <% end %>
  </body>
</html>
