<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>メモアプリ</h1>
      <form action="/memos" method="POST">
        <div class="title">
          <textarea name="title"></textarea>
        </div>

        <div class="text">
          <textarea name="text"></textarea>
        </div>

        <div class="save">
          <button type="submit">保存</button>
        </div>
      </form>
  </body>
</html>
